doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body

    // start navigation
    div.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#main-navbar', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') ExtremeModeration

        div#main-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/blog') Blog
            li
              a(href='/forums') Forums

          ul.nav.navbar-nav.navbar-right
            li
              img.btn-twitch.twitch-connect(src='http://ttv-api.s3.amazonaws.com/assets/connect_dark.png')
    // end navigation

    div.container
      block content

    script.
      var exmo = exmo || {};
      exmo.twitch = {
        client: {
          id: '#{process.env.TWITCH_CLIENT_ID || 'rifk3d0r9wyfutpstcgdeexslirhnci'}'
        }
      };
      exmo.app = {
        root: function(){
          var url = window.location.href,
              arr = url.split('/');
          return arr[0] + '//' + arr[2];
        }()
      };

    script(src='/javascripts/app.min.js')
    script(src='https://ttv-api.s3.amazonaws.com/twitch.min.js')